/* Google Font 'Poppins'  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 200vh;
  background-color: #131312;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 85%;
  height: 100%;
  border: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

header .menu_side,
.song_side,
.master_play,
.popular_song {
  position: relative;
  border: 1px solid #fff;
  background-color: #1c1c1c;
  box-shadow: 5px 0px 2px #1c1c1c;
  color: #fff;
}

header .song_side {

  background: #1c1c1c;
}

header .popular_song {
  background: #1c1c1c;
}

header .menu_side {

  background: #1c1c1c;
}
header .master_play {
  background: #1c1c1c;
  box-shadow: 0px 3px 8px #1c1c1c;
}

header .menu_side h1 {
  font-size: 9px;
  /* margin: 15px 0px 0px 9px; */
  font-weight: 400;
}

header .menu_side .menu_song {
  width: 100%;
  height: 210px;
  border: 1px solid #fff;
  margin-top: 12px;
}
header .menu_side .menu_song li {
  position: relative;
  list-style-type: none;
  padding: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
header .menu_side .menu_song li:hover {
  background: rgb(105, 105, 170, 0.1);
}
header .menu_side .menu_song li span {
  font-size: 8px;
  font-weight: 250;
  color: #ffffff;
}
header .menu_side .menu_song li img {
  width: 20px;
  margin-left: 10px;
  object-fit: cover;
  border-radius: 50%;
}
header .menu_side .menu_song li h5 {
  font-size: 6px;
  margin-left: 15px;
}
header .menu_side .menu_song li h5 .subtitle {
  font-size: 5px;
  color: #4c5262;
}
header .menu_side .menu_song li .bi {
  position: absolute;
  right: 1px;
  top: 4px;
  font-size: 12px;
}

header .master_play {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

header .master_play img {
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
header .master_play h5 {
  width: 50px;
  font-size: 7px;
  margin-left: 9px;
  color: #fff;
  line-height: 10px;
}
header .master_play h5 .subtitle {
  font-size: 6px;
  color: #4c5262;
}
header .master_play .icon {
  font-size: 20px;
  color: #fff;
  margin: 0px 20px 0px 20px;
  outline: none;
}
header .master_play .icon .bi {
  cursor: pointer;
  outline: none;
}

header .master_play span {
  color: #fff;
  width: 32px;
  font-size: 11px;
  font-weight: 100;
}
header .master_play #currentStart {
  margin: 0px 0px 0px 20px;
}

header .master_play .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background: rgb(105, 105, 170, 0.1);
  margin: 0px 15px 0px 10px;
}
header .master_play .bar .bar2 {
  position: absolute;
  background: #ffffff;
  width: 0%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}
header .master_play .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}
header .master_play .bar .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px #ffffff;
}
header .master_play .bar input {
  position: absolute;
  width: 100%;
  top: -3px;
  left: 0;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}

header .song_side {
  z-index: 2;
}
header .song_side::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  background: url("concert.png");
  z-index: -1;
}

header .song_side .content {
  width: 100%;
  height: 35%;
  margin: auto;
  /* border: 1px solid #fff; */
  padding-top: 10px;
  text-align: center;
}

header .song_side .content h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
header .song_side .content p {
  font-size: 7px;
  font-weight: 600;
  color: #ffffff;
  display: inline-block;
  margin: 1px;
  width: 40%;
  text-align: center;
}
header .song_side .content .buttons {
  margin-top: 65px;
}
header .song_side .content .buttons button {
  width: 130px;
  height: 30px;
  border: 2px solid #1c1c1c;
  outline: none;
  border-radius: 20px;
  background: #1c1c1c;
  display: inline-block;
  color: #a4a8b4;
  cursor: pointer;
  transition: 0.3s linear;
  text-align: center;
}
header .song_side .content .buttons button:hover {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

header .song_side .popular_song {
  width: 90%;
  height: auto;
  border: 1px solid #fff;
  margin: auto;
  margin-top: 15px;
}
header .song_side .popular_song .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .song_side .popular_song .h4 .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: 0.3s linear;
}
header .song_side .popular_song .h4 .bi:hover {
  color: #fff;
}

header .song_side .popular_song .pop_song {
  width: 100%;
  height: 150px;
  margin-top: 5px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
header .song_side .popular_song .pop_song::-webkit-scrollbar {
  display: none;
}
header .song_side .popular_song .pop_song li {
  min-width: 130px;
  height: 100px;
  list-style-type: none;
  margin-right: 10px;
  transition: 0.3s linear;
}
header .song_side .popular_song .pop_song li:hover {
  background: rgb(105, 105, 170, 0.1);
}
header .song_side .popular_song .pop_song li .img_play {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .song_side .popular_song .pop_song li .img_play img {
  width: 100%;
  height: 100%;
}
header .song_side .popular_song .pop_song li .img_play .bi {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  opacity: 0;
}
header .song_side .popular_song .pop_song li .img_play:hover .bi {
  opacity: 1;
}
header .song_side .popular_song .pop_song li h5 {
  padding: 5px 0px 0px 5px;
  line-height: 8px;
  font-size: 7px;
}
header .song_side .popular_song .pop_song li h5 .subtitle {
  font-size: 6px;
  color: #4c5262;
}
